@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan-Bg: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Filter: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Spartan, sans-serif;
  font-size: 15px;
  background-color: var(--Light-Grayish-Cyan-Bg);
}

.header {
  background-color: var(--Desaturated-Dark-Cyan);
}

.header img {
  display: block;
  width: 100%;
}

.container {
  position: absolute;
  padding: 0 20px;
  top: 120px;
  left: 0;
  right: 0;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

